.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0 300px;
}

.card {
  list-style: none;
}

.card-header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.card-title {
  font-size: 17px;
  text-align: center;
  padding: 12px 0 0 12px;
}

.card-body ul {
  padding: 0;
}

.card-body li {
  list-style: none;
}

.card-body span {
  padding-left: 6px;
}

.card-img {
  width: 40px;
  height: 40px;
}

.language {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.language li {
  border: 1px solid #b95000;
  padding: 2px;
  font-size: 14px;
  color: #b95000;
}

.card-icon {
  margin: 0 auto;
}

.modal-footer {
  padding: 20;
  margin-bottom: 50px;
}

.warning-icon {
  padding-bottom: 2px;
}

.modal-header {
  background-color: #fff4ec;
  color: #b95000;
  border-bottom: 1px solid #ff8f39;
}

.modal-content {
  margin-top: 280px;
  width: 500px;
  height: 275px;
}
