.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0 300px;
}

.card {
  margin-top: 70px;
  list-style: none;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-title {
  padding: 12px 0 0 12px;
}

.card-body ul {
  padding: 0;
}

.card-body li {
  list-style: none;
}

.card-body span {
  padding-left: 6px;
}

.card-img {
  width: 40px;
  height: 40px;
}
