header {
  position: absolute;
}

.navbar {
  background-color: #ffffff;
  height: 64px;
}

.navbar-brand,
.nav-item {
  font-size: 14px;
  color: #6b6c7e;
}

.reset-btn-style {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
